body{
  font-family:helvetica;
  background:gray;
}

button {
  height: 40px;
  border-radius:10px;
}

.container{
  padding:25px;
  text-align:center;
  border-style:solid;
  border-color:blue;
  background:#D78C0B;
}

.result-msg{
  text-align:center;
  margin-top:2%;
}

#lose{
  background:red;
  color:black;
  padding:3%;
  margin-left:20%;
  margin-right:20%;
}

#win{
  background:green;
  color:black;
  padding:3%;
  margin-left:20%;
  margin-right:20%;
}